@import "../../../scss/consts.scss";
@import "../../../scss/fonts.scss";

.button {
	font-family: "Poppins";
	padding: 8px 15px;
	background-color: $blue;
	color: #fff;
	font-size: 14px;
	cursor: pointer;

	transition: background-color 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background-color: $blue-hover;
		}
	}
}
